.navbar-inverse {
    background-color: #004D40;
    margin-bottom: 0px;
    border-color: #004D40;

}

.navbar {
     font-family: 'Titillium Web', sans-serif;
     margin-bottom: 0;
    
}
ul > li >  a {
    text-transform: uppercase;
}

body {
    font-family: 'Titillium Web', sans-serif!important;
    
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color:#00796B; 

}


.dropdown-menu > li > a:hover {
    background-color:#00796B; 
    
}

.form-control:focus {
    border-color: #00796B; 

}


